<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
  <meta name="description" content="Gualtiero Testa personal blog" />
  <meta name="keywords" content="code,software,development" />
  <meta name="author" content="Gualtiero Testa" />
  <title>Gualtiero Testa personal blog</title>
</head>

<body>

  <div id="content">  
    {{ content }}
  </div>
  
  <div id="footer">
    <p>&copy; 2018-* <a href="/about.html">Gualtiero Testa</a>
  </div>

</body>
</html>
